<%- include ('../../partials/header.ejs'); %>
<%- include ('../../partials/navbar.ejs'); %>


    <div class="container">
        <%- include ('../../partials/msg.ejs'); %>
        <div class="card mt-4">
            <div class="card-header">
                <h2>Editar Categoria</h2>
            </div>
            <div class="card-body">
                <form action="/admin/categories/update" method="POST">
                    <input type="hidden" name="id" value="<%- category.id %>">
                    <input type="text" name="title" value="<%- category.title %>" class="form-control">
                    <button class="btn btn-success mt-4">Editar</button>
                </form>
            </div>
        </div>
    </div>


<%- include ('../../partials/footer.ejs'); %>